# Ignore everything
*

# Except
!bin
!bin/*
bin/*.jar

!etc
!etc/*
etc/private.sh

## bash
!.bash_profile
!.bashrc

## zsh
!.zshenv
!.zshrc

## git
!.git-prompt.sh
!.gitconfig
!.gitignore
!.gitignore_global

# other config
!.vimrc

# But
*/*~
*/.DS_Store
bin/ph
bin/project-details
